.azul{
    width: 130px;
    height: 130px;
    border: black 1px solid;
    border-radius: 1rem;
    background-color: #9fc5f8;
    margin: 10px;
}

.container{
    display: flex;
    justify-content: center;
    width: 960px;
    margin: auto;
    flex-wrap: wrap;
}

.hello{
    text-align: center;
}